.App {
  max-width: 100vw; /* Предотвращает контейнер от выхода за пределы экрана */
  overflow-x: hidden; /* Отключает горизонтальную прокрутку */
  padding: 10px; /* Отступы вокруг контента */  
}

.container-task{
  gap: 10px;
}
.container-task-styles{
  margin: 2px;
  padding: 2px;
  font-family: 'Century Gothic';
  color: blue;
}

.container-group{
  display: flex;
  gap: 10px;
}
.block-group-photo{
  width: 40%;
}
.block-group-photo img{
  width: 100%;
  height: auto;
}
.block-group-description{
  width: 60%;
}
.block-group-name-style{
  margin: 2px;
  padding: 2px;
  font-family: 'Engravers MT';
}
.block-group-description-style{
  margin: 2px;
  padding: 2px;
  font-family: 'Calibri';
}

.container-group-member{
  display: flex;
  gap: 10px;
}
.container-group-member-style{
  margin: 2px;
  padding: 2px;
  font-family: 'Calibri';
}
.block-group-member-photo{
  width: 20%;  
}
.block-group-member-photo img{
  width: 100%;
  height: auto;
}
.block-group-member-info{
  width: 20%;
}
.block-group-member-description{
  width: 60%;
}

.container-albums-all{
  display: flex;
  gap: 10px;
}
.container-album{
  width: 25%;
  text-align: center;
  gap: 1px;
}
.container-album img{
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .container-group,
  .container-group-member,
  .container-albums-all {
    flex-direction: column;
  }
  .block-group-photo,
  .block-group-description,
  .block-group-member-photo,
  .block-group-member-info,
  .block-group-member-description,
  .container-album {
    width: 100%;
  }  
}

/* .container{
  display: flex;
  gap: 10px;
}
.container-column{
  gap: 10px;
}

.block-photo{
  width: 100%;
}
.block-photo img{
  width: 100%;
  height: auto;
}

.block-bookPhoto{
  width: 20%;
}
.block-bookPhoto img{
  width: 100%;
  height: auto;
}
.block-bookInfo{
  width: 20%;
}
.block-bookReview{
  width: 60%;
}

.style-task {
  margin: 2px;
  padding: 2px;
  font-family: 'Century Gothic';
  color: blue;
}

.style-review{
  margin: 2px;
  padding: 2px;
  font-family:'Courier New';
}


@media (max-width: 768px) {
  .App{
    padding: 5px;
  }

  .container {
      flex-direction: column;
      width: 100%;
      gap: 20px;
      padding: 10px;
  }

  .block-bookInfo, .block-bookReview, .block-bookPhoto {
      width: 100%;
  }  
} */


/* The first task */
/* body{
  background-color: burlywood;
}; */


/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
